<ion-view title="Calendar" hide-nav-bar="true" cache-view="false" id="page2">
  <ion-content padding="false" class=" manual-remove-top-padding">
    <div id="calendar-container1" ng-repeat="event in events | orderBy: 'TimeStamp'" class="eventContainer">
      <div id="calendar-container2" class="eventImgContainer">
        <div>
          <img src="{{event.Thumbnail}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
      </div>
      <span id="calendar-container3" class="eventDetails">
        <span class="eventTitle">{{event.Name}}</span>
      </span>
    </div>
  </ion-content>
</ion-view>